.caja_de_fondo1 {
    float: left;
    width: 100%;
    height: 700px;
    margin-left: 2.5cm;


    .titulo {
       float: left;
       

       > h1 {
            width: 600px;
            font-size: 34px;
            line-height: 1.4em;
            text-align: left;
            font-family: Arial, Helvetica, sans-serif;
           
       }
       .imagen1{
           float: left;
       }
       .imagen2{
           margin-left: 18cm;

       }
       
    
               
           
       .contenido{
             > h2 {
             font-size: 16px;
             line-height: 1.5em;
             font-family: Arial, Helvetica, sans-serif;
             text-decoration: none;
             width: 600px;
             
              }     

    

      }

    }
}